@using MyKudosDashboard.Interfaces;
@using MyKudosDashboard.Models;

@inject IKudosListView KudosListView;

<div class="list-group list-group-checkable d-grid gap-1 border-0 " style="height:68.7vh;overflow-y:scroll">

    @foreach (var item in kudos)
    {

        <div class="profile" data-is-focusable="true">

            <div class="avatar">
                <img src=@item.To.Photo style="height:80px;width:80px;float:left;border-radius: 50%" />
            </div>

            <div class="info">

                <ul class="list-unstyled ">
                    <li>
                        <h5>@item.To.Name</h5>
                    </li>

                    <li>
                        <div class="text-wrap" style="width: 16rem;">
                            <spam class="card-title pricing-card-title">received a <spam style="font-weight: bold">@item.Title.ToUpper()</spam> kudos</spam>
                        </div>
                    </li>
                    <li>
                        <div>
                            <span style="margin-right:5px">Sent by</span>
                            <img src=@item.From.Photo
                             style="height: 26px;width: 26px;border-radius: 50%" />
                            <span style="margin-left:5px">@item.From.Name</span>
                        </div>

                    </li>
                </ul>
            </div>

            <div class="card-body" style="padding-left: 0px;padding-right: 0px;padding-top: 0px;padding-bottom: 0px;border-bottom: var(--bs-card-border-width) solid var(--bs-card-border-color);}">

                <div class="text-wrap" style="padding-left: 0px;padding-right: 0px;padding-top: 0px;padding-bottom: 0px;">
                    @item.Message
                </div>

                <div style="float:right">
                   @* <FluentButton style="margin-left:20px;">
                        <FluentIcon Name="@FluentIcons.CodeText" Slot="start" Size="@IconSize.Size16" Filled=false />
                        Read more
                    </FluentButton>*@
                   
                    <FluentButton id=@item.Id style="margin-left:20px;" @onclick=@(()=>Like(item.Id))>
                        <FluentIcon Name="@FluentIcons.Heart" Slot="start" Size="@IconSize.Size16" 
                        Filled=@Filled(item)
                            />
                        @item.Likes.Count()
                    </FluentButton>

                    <FluentTooltip Anchor=@item.Id Position=Microsoft.Fast.Components.FluentUI.TooltipPosition.Bottom>

                        @if (item.Likes.Count() > 0)
                        {
                             <ul class="list-unstyled ">
                                @foreach (var like in item.Likes)
                                {
                                    <li>
                                        <div>
                                            <img src=@like.Photo
                                                 style="height: 26px;width: 26px;border-radius: 50%;" />
                                            <span style="margin-left:5px">@like.Name</span>
                                        </div>
                                    </li>
                                }
                            </ul>
                        }                        
                    </FluentTooltip>


                  @*  <FluentButton style="margin-left:20px;">
                        <FluentIcon Name="@FluentIcons.Comment" Slot="start" Size="@IconSize.Size16" Filled=false />
                        0
                    </FluentButton>*@
                </div>


            </div>
        </div>


    }
</div>

@code {

    [Parameter]
    public IEnumerable<KudosResponse> kudos { get; set; } 

    [Parameter]
    public string UserPhoto { get; set; }

    [Parameter]
    public UserInfo User { get; set; }
        
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            StateHasChanged();
        }
    }

    private bool Filled(KudosResponse item)
    {
        bool filled = false;

        @if (User != null)
        {
          filled =  item.Likes.Any(l => l.Id == User.ObjectId);
        }

        return filled;
    }
    private void Like(string kudosId)
    {
        var success = KudosListView.SendLike(
            new Like(
                KudosId: kudosId,
                PersonId: User.ObjectId
            )
        );

        if (success)
        {
            var kudo = kudos.Where(k=> k.Id == kudosId).FirstOrDefault();

            if (kudo != null)
            {
                var like = kudo.Likes.Where(k => k.Id == User.ObjectId).FirstOrDefault();

                if ( (like is null) || (!kudo.Likes.Contains(like)))
                {

                    kudo.Likes.Add(new Person()
                        {
                            Id = User.ObjectId,
                            Name = User.DisplayName,
                            Photo = UserPhoto
                        });
                }
                else
                {
                    kudo.Likes.Remove(like);
                }
            }

           

            StateHasChanged();
        }
        
    }

    

}
