@using System.Globalization
@using Microsoft.Extensions.Localization
@using MyKudos.Gateway.Domain.Models
@using MyKudosDashboard.Common

@inject IStringLocalizer<App> Localizer;
@inject KudosCommonVariables CommonVariables;

<style>
    .navbar {
        background-color: lightgray;
        overflow: hidden;
        position: fixed;
        bottom: 0;
        width: 100%;
        
    }

        /* Style the links inside the navigation bar */
        .navbar a {
            float: left;
            display: block;
            color: #f2f2f2;
            text-align: center;
            padding: 2vh 2vh;
            text-decoration: none;
            font-size: 14px;
        }

        /* Change the color of links on hover */
        .navbar a:hover {
            background-color: #ddd;
            color: black;
        }

        /* Add a color to the active/current link */
        .navbar a.active {
            background-color: #04AA6D;
            color: white;
        }

       

       

</style>

<div>

    <div class="content" style="width:100%;overflow-y: hidden;
            overflow-x: hidden; height:90%">
        @switch (_currentTab)
        {
            case "profile":
                <UserProfileScore @ref=_userProfileScore ShowSendKudosButton=false />
                break;
            case "feed":
                <KudosTab @ref=_kudosTab ReplyCallBack=@ReplyCallBack />
                break;
            case "leaderboard":
                <TopContributors @ref=_topContributors />
                break;
            case "sendkudos":
                <SendKudos sendKudosCallBack=@SendKudosCallBack />
                break;     
        }

        <KudosCommentsDialog @ref=_replyKudos ModalHidden=true 
                             Style="--dialog-height: 100%;--dialog-width: 100%;margin-left:1vh" />

       @*  <SendKudosDialog @ref=_sendKudosPanel ModalHidden=@_sendKudosIsHidden
                         sendKudosCallBack=@SendKudosCallBack
                         Style="--dialog-height: 100%;--dialog-width: 100%;margin-left:2vh" /> *@

    </div>



    <div class="navbar gap-1 border-0" style="height:8vh;padding-top:0px; padding-bottom:0px">
        <NavLink  @onclick=@(()=>HandleNavLinkClick("profile")) >
           <div style="display: flex; flex-wrap: wrap;">
                <div style="flex: 50%;"> <!-- This will take up half the width -->
                    <FluentIcon Name="@FluentIcons.Person" Filled=false style="width: 2.5vh; height: 2.5vh" />                    
                </div>   
               @*  <div style="flex: 50%;"> <!-- This will take up half the width -->
                    @Localizer["Profile"]
                </div>     *@ 
            </div>

            
            </NavLink>
    
         <NavLink @onclick=@(()=>HandleNavLinkClick("feed"))>
              <div style="display: flex; flex-wrap: wrap;">
                <div style="flex: 50%;"> <!-- This will take up half the width -->
                    <FluentIcon Name="@FluentIcons.News" Filled=false style="width: 2.5vh; height: 2.5vh" />                    
                </div>   
                @* <div style="flex: 50%;"> <!-- This will take up half the width -->
                    @Localizer["Feed"]
                </div>     *@ 
            </div>
        </NavLink>
            <NavLink @onclick=@(()=>HandleNavLinkClick("sendkudos"))>
             <div style="display: flex; flex-wrap: wrap;">
                <div style="flex: 50%;"> <!-- This will take up half the width -->
                    <FluentIcon Name="@FluentIcons.Send" Filled=false style="width: 2.5vh; height: 2.5vh" />                    
                </div>   
                @* <div style="flex: 50%;"> <!-- This will take up half the width -->
                    @Localizer["Send"]
                </div>      *@
            </div>
            </NavLink>
            
        <NavLink @onclick=@(()=>HandleNavLinkClick("leaderboard"))>
             <div style="display: flex; flex-wrap: wrap;">
                <div style="flex: 50%;"> <!-- This will take up half the width -->
                    <FluentIcon Name="@FluentIcons.AppsList" Filled=false style="width: 2.5vh; height: 2.5vh" />                    
                </div>   
               @*  <div style="flex: 50%;"> <!-- This will take up half the width -->
                    @Localizer["Leaderboard"]
                </div>   *@   
            </div>
            </NavLink>
    </div>


</div>


@code {

    private UserProfileScore _userProfileScore;

    private KudosTab _kudosTab;

    private string _currentTab;

    private TopContributors _topContributors;

    private KudosResponse _currentKudos;

    private KudosCommentsDialog _replyKudos;

    private SendKudosDialog _sendKudosPanel;
    private bool _sendKudosIsHidden = true;

    private void HandleNavLinkClick(string tab)
    {
        _currentTab = tab;
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            _currentTab = "feed";
            StateHasChanged();
        }

    }

    private void SendKudosClick()
    {
        _sendKudosIsHidden = false;

        _sendKudosPanel.SendKudosModal();
    }

    private void SendKudosCallBack()
    {
        //_sendKudosIsHidden = true;
        _currentTab = "feed";
        StateHasChanged();
    }

    private void ReplyCallBack(KudosResponse pKudos)
    {
        _currentKudos = pKudos;        
        _replyKudos.ShowModal(pKudos);
        StateHasChanged();
    }

 
}
