
@using MyKudosDashboard.Interfaces;
@using MyKudosDashboard.Models;

@inject IUserProfileScoreView UserProfileScoreView;

@using Microsoft.Extensions.Localization
@using System.Globalization
@inject IStringLocalizer<App> Localizer

@inject IJSRuntime JSRuntime

<div class="card-body" style="padding:2px">

    <div class="profile" style="width:100%">

        <div class="avatar" style="float:none;width:100%;text-align: center">

            <img src=@UserPhoto style="height:64px;width:64px;border-radius: 50%;" />

            
        </div>

        <div class="info" style="width:100%">
            <h5 style="text-align: center;">@User.DisplayName</h5>

            @if (_isLoaded)
            {
                <div style="float:none;width:100%;text-align: center">
                    <h3 class="card-title pricing-card-title">
                        @*<div @ref=_score>@_userScore.Score</div>*@
                        <small @ref=_score style="margin-top:10px">@_userScore.Score</small>
                        <small class="text-muted fw-light" style="margin-top:10px"> @Localizer["Points"]</small>
                    </h3>
                </div>

           
                <div style="margin-left:10px">

                    <h5 class="card-title pricing-card-title">

                        <FluentIcon Name="@FluentIcons.ArrowCircleRight" Color="Color.Neutral" />

                        <small @ref=_kudosSent class="text-muted fw-light"> @_userScore.KudosSent</small>
                        <small class="text-muted fw-light"> @Localizer["KudosSent"]</small>
                    </h5>

                    <h5 class="card-title pricing-card-title">

                        <FluentIcon Name="@FluentIcons.ArrowCircleLeft" Color="Color.Neutral" />

                        <small @ref=_kudosReceived class ="text-muted fw-light"> @_userScore.KudosReceived</small>
                        <small class="text-muted fw-light"> @Localizer["KudosReceived"]</small>
                    </h5>

                    <h5 class="card-title pricing-card-title">

                        <FluentIcon Name="@FluentIcons.ThumbLike" Color="Color.Neutral" />

                        <small @ref=_likesSent class="text-muted fw-light"> @_userScore.LikesSent</small>
                        <small class="text-muted fw-light"> @Localizer["LikesSent"]</small>
                    </h5>

                    <h5 class="card-title pricing-card-title">

                        <FluentIcon Name="@FluentIcons.Heart" Color="Color.Neutral" />

                        <small @ref=_likesReceived class ="text-muted fw-light"> @_userScore.LikesReceived</small>
                        <small class="text-muted fw-light"> @Localizer["LikesReceived"]</small>
                    </h5>

                     <h5 class="card-title pricing-card-title">

                        <FluentIcon Name="@FluentIcons.CommentArrowLeft" Color="Color.Neutral" />

                        <small @ref=_commentsSent class="text-muted fw-light"> @_userScore.MessagesSent</small>
                        <small class="text-muted fw-light"> @Localizer["CommentsSent"]</small>
                    </h5>

                    <h5 class="card-title pricing-card-title">

                        <FluentIcon Name="@FluentIcons.CommentArrowRight" Color="Color.Neutral" />

                        <small @ref=_commentsReceived class="text-muted fw-light"> @_userScore.MessagesReceived</small>
                        <small class="text-muted fw-light"> @Localizer["CommentsReceived"]</small>
                    </h5>

                </div>

                @if (_userScore.KudosSent + _userScore.KudosReceived > 0)
                {
                    <div style="clear:both;">
                        <p>@Localizer["Achievements"]</p>

                        
                        @if (_userScore.KudosSent >0)
                        {
                            <img src=@GetKudosSentBadge() style="height:80px;width:80px;padding:5px" />
                        }

                        @if(_userScore.KudosReceived >= 10)
                        {
                            <img src=@GetKudosReceivedBadge() style="height:80px;width:80px;padding:5px" />
                        }

                        @if (_userScore.GroupOne > 0 )
                        {
                            <img src=@GetKudosValuesBadge(1) style="height:80px;width:80px;padding:5px" />
                        }

                          @if (_userScore.GroupTwo> 0 )
                        {
                            <img src=@GetKudosValuesBadge(2) style="height:80px;width:80px;padding:5px" />
                        }


                        @if (_userScore.GroupThree > 0)
                        {
                            <img src=@GetKudosValuesBadge(3) style="height:80px;width:80px;padding:5px" />
                        }


                        @if (_userScore.GroupFour > 0)
                        {
                            <img src=@GetKudosValuesBadge(4) style="height:80px;width:80px;padding:5px" />
                        }

                          @if (_userScore.GroupFive > 0 )
                        {
                            <img src=@GetKudosValuesBadge(5) style="height:80px;width:80px;padding:5px" />
                        }

                        @if (_userScore.GroupAll > 0)
                        {
                            <img src=@GetKudosValuesBadge(6) style="height:80px;width:80px;padding:5px" />
                        }



                    </div>
                }
            }
            
        </div>

       

        


    </div>

</div>

@code {

    [Parameter]
    public string UserPhoto { get; set; }


    [Parameter]
    public UserInfo User { get; set; }

    private UserScore _userScore;

    private bool _isLoaded = false;

    private ElementReference _score;
    private ElementReference _kudosSent;
    private ElementReference _kudosReceived;
    private ElementReference _likesSent;
    private ElementReference _likesReceived;
    private ElementReference _commentsSent;
    private ElementReference _commentsReceived;


    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();

        UserProfileScoreView.RegisterForLiveUpdates(User.ObjectId);
        UserProfileScoreView.UserScoreCallback = UpdateScore;

        _userScore = await UserProfileScoreView.GetUserScore(User.ObjectId);

        if (_userScore == null)
            _userScore = new();

        _isLoaded = true;

        await InvokeAsync(StateHasChanged);
 
    }


    public async Task UpdateScore(UserScore userScore)
    {
        if(userScore.UserId == User.ObjectId)
        {
            _userScore = userScore;


            if (_userScore != null)
            {

                for (int attempts = 0; attempts < 3; attempts++)
                {


                    try
                    {

                        await JSRuntime.InvokeVoidAsync("updateCount", _score, _userScore.Score);

                        await JSRuntime.InvokeVoidAsync("updateCount", _kudosSent, _userScore.KudosSent);
                        await JSRuntime.InvokeVoidAsync("updateCount", _kudosReceived, _userScore.KudosReceived);
                        await JSRuntime.InvokeVoidAsync("updateCount", _likesSent, _userScore.LikesSent);
                        await JSRuntime.InvokeVoidAsync("updateCount", _likesReceived, _userScore.LikesReceived);
                        await JSRuntime.InvokeVoidAsync("updateCount", _commentsSent, _userScore.MessagesSent);
                        await JSRuntime.InvokeVoidAsync("updateCount", _commentsReceived, _userScore.MessagesReceived);

                        break;
                    }
                    catch (JSDisconnectedException)
                    {
                        await JSRuntime.InvokeVoidAsync("updateCount", _score, _userScore.Score).ConfigureAwait(false);

                        await JSRuntime.InvokeVoidAsync("updateCount", _kudosSent, _userScore.KudosSent).ConfigureAwait(false);
                        await JSRuntime.InvokeVoidAsync("updateCount", _kudosReceived, _userScore.KudosReceived).ConfigureAwait(false);
                        await JSRuntime.InvokeVoidAsync("updateCount", _likesSent, _userScore.LikesSent).ConfigureAwait(false);
                        await JSRuntime.InvokeVoidAsync("updateCount", _likesReceived, _userScore.LikesReceived).ConfigureAwait(false);
                        await JSRuntime.InvokeVoidAsync("updateCount", _commentsSent, _userScore.MessagesSent).ConfigureAwait(false);
                        await JSRuntime.InvokeVoidAsync("updateCount", _commentsReceived, _userScore.MessagesReceived).ConfigureAwait(false);
                    
                    }

                    await Task.Delay(300);
                }
            }

        }


    }

    private string GetKudosSentBadge()
    {
        string result = string.Empty;

        switch (_userScore.KudosSent)
        {
            case var n when (n >= 1 && n <10):
                result = "images/badges/accomplishments/1kudossent.png";
                    break;

            case var n when (n >= 10 && n <= 50):
                result = "images/badges/accomplishments/10kudossent.png";
                break;

            case var n when (n > 50 && n <= 100):
                result = "images/badges/accomplishments/50kudossent.png";
                break;

            case var n when (n > 100):
                result = "images/badges/accomplishments/100kudossent.png";
                break;
        }

        return result;
    }

    private string GetKudosReceivedBadge()
    {
        string result = string.Empty;

        switch (_userScore.KudosReceived)
        {
        
            case var n when (n >= 10 && n <= 50):
                result = "images/badges/accomplishments/10kudosreceived.png";
                break;

            case var n when (n > 50 && n <= 100):
                result = "images/badges/accomplishments/50kudosreceived.png";
                break;

            case var n when (n > 100):
                result = "images/badges/accomplishments/50kudosreceived.png";
                break;
        }

        return result;
    }


    private string GetKudosValuesBadge(int group)
    {
       
        return $"images/badges/values/group_{group}.png";
    }

}
