@using Microsoft.Extensions.Configuration
@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Hosting
@using MyKudos.Gateway.Domain.Models;
@using MyKudosDashboard.Common;
@using MyKudosDashboard.Interfaces;
@using MyKudosDashboard.Models;

@using Microsoft.Fast.Components.FluentUI

@using Microsoft.Extensions.Localization
@using System.Globalization
@using System.Text.RegularExpressions;
@using System.ComponentModel;

@inject NavigationManager Navigator

@inject TeamsFx teamsfx
@inject TeamsUserCredential teamsUserCredential
@inject MicrosoftTeams MicrosoftTeams

@inject IWelcomeView WelcomeView;
@inject IJSRuntime JSRuntime;

@inject IStringLocalizer<App> Localizer;
@inject IConfiguration Configuration;
@inject KudosCommonVariables CommonVariables;


<style>
    h1 {
        font-size: 5.9vw;
    }

    h2 {
        font-size: 3.0vh;
    }

    h4 {
        font-size: 2.5vh;
    }

    p {
        font-size: 2vmin;
    }

    .small40 {
        font-size: calc(0.40em + 1vmin)
    }


    .small55 {
        font-size: calc(0.50em + 1vmin)
    }

    .small60 {
        font-size: calc(0.60em + 1vmin)
    }

    .small65 {
        font-size: calc(0.65em + 1vmin)
    }

</style>


    <style>
        div {
            float: left;
            padding: 2px;
        }

        .div1 {
        }

        .div2 {
        }
    </style>

    <div class="welcome page" style="padding-top:0px;width:100%;margin-left: 2px;height:95%;width:97vw">

        <div style="height:100%;display:grid; grid-template-columns: 1fr 1.8fr 1.2fr;padding:0px">

            <!-- PROFILE -->
            <div class="column" style="height:100%;min-width:200px;padding:2px">

                <div class="card  rounded-3 shadow-sm small60" style="padding: 0px;height:94vh;width:100%">

                    <div class="card-header " style="display: flex;">
                        <h3 class="my-0 fw-normal" style="height: 28px; align-items: center;justify-content: center;display: flex">
                            🚀 @Localizer["Profile"]
                        </h3>

                    @if (CommonVariables != null && CommonVariables.User.IsAdmin)
                        {
                            <div style="display: flex; margin-left: 5px;width:40%">
                                <FluentButton style="margin-left:5px;padding: 0px;"
                                              @onclick=@(()=>SettingsClick())>
                                    <FluentIcon Name="@FluentIcons.Settings" Slot="start" Size="@IconSize.Size16" Filled=true />
                                    @Localizer["Settings"]
                                </FluentButton>
                            </div>

                        }
                    </div>

                    <UserProfileScore @ref=_userProfileScore 
                                      SendKudosCallBack=@OpenSendKudosPanel 
                                      ShowSendKudosButton=true/>

                </div>
            </div>

            <!-- KUDOS -->
            <div class="column " style="height:100%;min-width:480px;padding:2px;">

                <div class="card  rounded-3 shadow-sm" style="padding-left: 0px;padding-right: 0px;padding-top: 0px;padding-bottom: 0px;height:94vh;width:100%">
                    <div class="card-header py-3;padding:2px" style="display: flex; justify-content: space-between; align-items: center;">

                        <h3 class="my-0 fw-normal">👏 @Localizer["KudosTabTitle"] </h3>

                    @if (CommonVariables != null && CommonVariables.User.HasDirectReports)
                        {
                            <FluentSwitch @bind-Value=VisualizeJustMyTeam>@Localizer["JustMyTeam"]</FluentSwitch>
                        }


                        <div style="display: flex; margin-left: 5px;width:40%">
                            <FluentButton style="margin-left:5px;padding: 0px;"
                                          @onclick=@(()=>ExportToCSVClick())>
                                <FluentIcon Name="@FluentIcons.ArrowDownload" Slot="start" Size="@IconSize.Size16" Filled=true />
                                @Localizer["ExportToCSV"]
                            </FluentButton>
                        </div>
                    </div>


                    <KudosTab @ref=_kudosTab ReplyCallBack=@ReplyCallBack />

                </div>
            </div>

            <!-- TOP CONTRIBUTORS -->
            @if (CommonVariables.ShowTopContributors)
            {

                <div class="column small60" style="height:100%;min-width:250px;padding:2px;padding-right: 0px;">

                    <div class="card  rounded-3 shadow-sm" style="padding-left: 0px;padding-right: 0px;padding-top: 0px;padding-bottom: 0px;height:94vh;width:100%">

                        <div class="card-header py-3;padding:2px">
                            <h3 class="my-0 fw-normal">🥇 @Localizer["TopContributors"]</h3>
                        </div>

                    <TopContributors @ref=_topContributors  />

                    </div>
                </div>
            }
            <!-- It shows the pop up to send kudos -->
            <SendKudosDialog @ref=_sendKudosPanel ModalHidden=@_sendKudosIsHidden 
                             sendKudosCallBack=@SendKudosCallBack />

        </div>

        <!-- It shows the pop up to see and send comments -->
        <KudosCommentsDialog @ref=_replyKudos ModalHidden=true  />

    </div>


@code {

    private TopContributors _topContributors;

    private UserProfileScore _userProfileScore;

    private SendKudosDialog _sendKudosPanel;
    private bool _sendKudosIsHidden = true;

    private void OnOpenModalParameterButtonClick() => _sendKudosIsHidden = false;
    private void OnCloseModalParameterButtonClick() => _sendKudosIsHidden = true;

    private KudosTab _kudosTab;

    private KudosCommentsDialog _replyKudos;


    public bool VisualizeJustMyTeam
    {
        get
        {

            return CommonVariables.VisualizeJustMyTeam;
        }
        set
        {
            CommonVariables.VisualizeJustMyTeam = value;

            //we need to update the three tabs

            _topContributors.LoadTopContributors();

            UpdateKudosTab();

            UpdateScoreTab();


        }
    }

    private async void UpdateScoreTab()
    {
        await _userProfileScore.GetUserScore();
    }

    private async void UpdateKudosTab()
    {
        await _kudosTab.LoadKudosAfterVisualizeJustMyTeamValueChanged();
    }

    private void OnDismiss()
    {
        _sendKudosIsHidden = true;
    }

    private void OpenSendKudosPanel()
    {
        _sendKudosIsHidden = false;

        var t = InvokeAsync(() =>
       {
           _sendKudosPanel.SendKudosModal();
       });

        t.Wait();

    }

    private void ReplyCallBack(KudosResponse pKudos)
    {
        var t = InvokeAsync(() =>
       {
           _replyKudos.ShowModal(pKudos);
       });

        t.Wait();
    }

    private void SendKudosCallBack()
    {
        _kudosTab.ReloadKudos();
    }

    private void SettingsClick()
    {
        Navigator.NavigateTo("/config");
    }

    private async Task ExportToCSVClick()
    {
        var csv = await _kudosTab.ExportToCSV();

        byte[] file = System.Text.Encoding.UTF8.GetBytes('\uFEFF' + csv);
        var fileName = "kudos.csv";

        await JSRuntime.InvokeVoidAsync("downloadFileFromStream", fileName, "text/plain", file);

        _sendKudosIsHidden = true;
    }




}

