@using Microsoft.Extensions.Configuration
@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Hosting
@using MyKudos.Gateway.Domain.Models;
@using MyKudosDashboard.Common;
@using MyKudosDashboard.Interfaces;
@using MyKudosDashboard.Models;

@using Microsoft.Fast.Components.FluentUI

@using Microsoft.Extensions.Localization
@using System.Globalization
@using System.Text.RegularExpressions;
@using System.ComponentModel;

@inject NavigationManager Navigator

@inject TeamsFx teamsfx
@inject TeamsUserCredential teamsUserCredential
@inject MicrosoftTeams MicrosoftTeams

@inject IWelcomeView WelcomeView;
@inject IJSRuntime JSRuntime;

@inject IStringLocalizer<App> Localizer;
@inject IConfiguration Configuration;
@inject KudosCommonVariables CommonVariables;


<style>
    h1 {
    font-size: 5.9vw;
    }
    h2 {
    font-size: 3.0vh;
    }
    h4 {
    font-size: 2.5vh;
    }

    p {
    font-size: 2vmin;
    }

    .small40 {
        font-size: calc(0.40em + 1vmin)
    }


    .small55 {
        font-size: calc(0.50em + 1vmin)
    }

    .small60 {
        font-size: calc(0.60em + 1vmin)
    }

</style>

@if (_isLoading)
{
    <div style="display: flex; justify-content: center; align-items: center; min-height: 100vh;">
        <FluentProgressRing />
    </div>
}
else if (!_isInTeams ||! string.IsNullOrEmpty(_errorMessage)){
    <div style="display: flex; justify-content: center; align-items: center; min-height: 100vh;">
        @_errorMessage
    </div>
}
else
{
    <style>
        div {
            float: left;
            padding: 2px;
        }

        .div1 {
        }

        .div2 {
        }
    </style>

    <div class="welcome page" style="padding-top:0px;width:100%;margin-left: 2px;height:95%;width:97vw">

        <div style="height:100%;display:grid; grid-template-columns: 1fr 1.8fr 1.2fr;padding:0px">

            <!-- PROFILE -->
            <div class="column" style="height:100%;min-width:200px;padding:2px">

                <div class="card  rounded-3 shadow-sm small60" style="padding: 0px;height:94vh;width:100%">

                    <div class="card-header " style="display: flex;">
                        <h3 class="my-0 fw-normal" style="height: 28px; align-items: center;justify-content: center;display: flex">
                            🚀 @Localizer["Profile"]
                        </h3>

                        @if (_userProfile != null && _userProfile.IsAdmin)
                        {
                            <div style="display: flex; margin-left: 5px;width:40%">
                                <FluentButton style="margin-left:5px;padding: 0px;"
                                @onclick=@(()=>SettingsClick())
                                >
                                    <FluentIcon Name="@FluentIcons.Settings" Slot="start" Size="@IconSize.Size16" Filled=true />
                                    @Localizer["Settings"]
                                </FluentButton>
                            </div>

                        }
                    </div>

                    <UserProfileScore @ref=_userProfileScore User=@_userProfile  SendKudosCallBack=@OpenSendKudosPanel />

                    </div>
            </div>

            <!-- KUDOS -->
            <div class="column " style="height:100%;min-width:480px;padding:2px;">

                <div class="card  rounded-3 shadow-sm" style="padding-left: 0px;padding-right: 0px;padding-top: 0px;padding-bottom: 0px;height:94vh;width:100%">
                    <div class="card-header py-3;padding:2px" style="display: flex; justify-content: space-between; align-items: center;">
                       
                        <h3 class="my-0 fw-normal">👏 @Localizer["KudosTabTitle"] </h3>

                        @if (_userProfile != null && _userProfile.HasDirectReports)
                        {
                            <FluentSwitch @bind-Value=VisualizeJustMyTeam>@Localizer["JustMyTeam"]</FluentSwitch>
                        }


                        <div style="display: flex; margin-left: 5px;width:40%">
                            <FluentButton style="margin-left:5px;padding: 0px;"
                                          @onclick=@(()=>ExportToCSVClick())>
                                <FluentIcon Name="@FluentIcons.ArrowDownload" Slot="start" Size="@IconSize.Size16" Filled=true />
                                @Localizer["ExportToCSV"]
                            </FluentButton>
                        </div>
                    </div>
                   

                    <KudosTab @ref=_kudosTab ReplyCallBack=@ReplyCallBack  />
                    
                </div>
            </div>

            <!-- TOP CONTRIBUTORS -->
            @if (CommonVariables.ShowTopContributors)
            {

                <div class="column small60" style="height:100%;min-width:250px;padding:2px;padding-right: 0px;">

                    <div class="card  rounded-3 shadow-sm" style="padding-left: 0px;padding-right: 0px;padding-top: 0px;padding-bottom: 0px;height:94vh;width:100%">

                        <div class="card-header py-3;padding:2px">
                            <h3 class="my-0 fw-normal">🥇 @Localizer["TopContributors"]</h3>
                        </div>

                        <TopContributors @ref=_topContributors User=@_userProfile  />

                    </div>
                </div>
            }
            <!-- It shows the pop up to send kudos -->
            <SendKudos  @ref=_sendKudosPanel ModalHidden=@_sendKudosIsHidden UserProfile=@_userTeams  
                        sendKudosCallBack=@SendKudosCallBack />

        </div>

        <!-- It shows the pop up to see and send comments -->
        <CommentsKudos @ref=_replyKudos ModalHidden=true User=@_userProfile  />
      
</div>

}


@code {

    private TopContributors _topContributors;

    UserInfo _userTeams;

    bool _isInTeams;
    bool _isLoading = true;
    string _errorMessage = string.Empty;

    private UserProfile _userProfile;

    private UserProfileScore _userProfileScore;

    private SendKudos _sendKudosPanel;
    private bool _sendKudosIsHidden = true;

    private void OnOpenModalParameterButtonClick() => _sendKudosIsHidden = false;
    private void OnCloseModalParameterButtonClick() => _sendKudosIsHidden = true;

    private KudosTab _kudosTab;

    private CommentsKudos _replyKudos;


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            _isInTeams = await MicrosoftTeams.IsInTeams();
            _errorMessage = string.Empty;

            if (_isInTeams)
            {
                try
                {
                    _userTeams = await teamsUserCredential.GetUserInfoAsync();

                }
                catch (Exception ex)
                {
                    _errorMessage = ex.Message;
                }

                if (_userTeams != null)
                {
                    _userProfile = await WelcomeView.GetUserInfo(_userTeams.ObjectId);

                    if (_userProfile == null)
                    {
                        _errorMessage = "User profile not found.";

                    }

                    CommonVariables.User = _userProfile;

                    CommonVariables.UsesAzureOpenAI = bool.Parse(Configuration["UsesAzureOpenAI"]);
                    CommonVariables.ShowTopContributors = bool.Parse(Configuration["ShowTopContributors"]);
                    CommonVariables.ShowAllKudosTab = bool.Parse(Configuration["ShowAllKudosTab"]);

                }

            }
            else
            {
                _errorMessage = "Not running in Microsoft Teams!";
            }

            _isLoading = false;
            StateHasChanged();
        }
    }

    public bool VisualizeJustMyTeam{
        get
        {

            return CommonVariables.VisualizeJustMyTeam;
        }
        set
        {
            CommonVariables.VisualizeJustMyTeam = value;

            //we need to update the three tabs

            _topContributors.LoadTopContributors();
            UpdateKudosTab();

            UpdateScoreTab();


        }
    }

    private async void UpdateScoreTab()
    {
        await _userProfileScore.GetUserScore();
    }

    private async void UpdateKudosTab()
    {
        await _kudosTab.LoadKudosAfterVisualizeJustMyTeamValueChanged(); 
    }

    private void OnPropertyChanged(object sender, PropertyChangedEventArgs e)
    {
        Console.WriteLine($"Property {e.PropertyName} changed");
        StateHasChanged();
    }

    private void OnDismiss()
    {
        _sendKudosIsHidden = true;

    }


    private void OpenSendKudosPanel()
    {
        _sendKudosIsHidden = false;

        var t = InvokeAsync(() =>
       {
            _sendKudosPanel.SendKudosModal();
       });

        t.Wait();

    }

    private void ReplyCallBack(KudosResponse pKudos)
    {
        var t = InvokeAsync(() =>
       {
           _replyKudos.ShowModal(pKudos);
       });

        t.Wait();
    }

    private void SendKudosCallBack()
    {
        _kudosTab.ReloadKudos();
    }

    private void SettingsClick()
    {
        Navigator.NavigateTo("/config");
    }

    private async Task ExportToCSVClick()
    {
        var csv = _kudosTab.ExportToCSV();
      
        byte[] file = System.Text.Encoding.UTF8.GetBytes('\uFEFF' + csv);
        var fileName = "kudos.csv";

        await JSRuntime.InvokeVoidAsync("downloadFileFromStream", fileName, "text/plain", file);
    }

   


}

